<h1 class="text-center">Contenido</h1>



<p>Podras explorar maravillosos lugares para visitar 
y disfrutar de unas vacaciones, fin de semana o simplemente 
un momento de relax </p>

<%= link_to 'Volver', :back, class:"btn btn-dark btn-sm" %>